services:
  backend:
    build: .
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/FlowAgora
      - PORT=3000
    depends_on:
      - mongo
    networks:
      - flowagora-network
  
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - flowagora-network

networks:
  flowagora-network:
    driver: bridge

volumes:
  mongo-data:
